@font-face {
    font-family: 'BarlowCondensed';
    src: '../assets/fonts/BarlowCondensed-Regular.ttf'
}

@font-face {
    font-family: 'bellefair';
    src: '../assets/fonts/Bellefair-Regular.ttf'
}

/* Colours */
$space-black: #0B0D17;
$core-font: #D0D6F9;
$white: #fff;


$bellefair-font: 'bellefair';
$BarlowCondensed-font: 'BarlowCondensed';




